<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
     <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="mainTopNav">
      <a  class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">대지환경</a>
      <input id="searchQry" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      
      <span class="input-group-btn">
        <button id="searchSubmit" class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i>Search</button>
      </span>
      
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>
    
    </html>